# Database
DATABASE_URL=postgresql+asyncpg://multibank_user:multibank_pass@db:5432/multibank_db

# Security
SECRET_KEY=your-secret-key-change-in-production-use-env-var

# Debug
DEBUG=true

# Banks Configuration (опционально, можно переопределить в config.py)
# VBank
VBANK_CLIENT_ID=team200
VBANK_CLIENT_SECRET=5OAaa4DYzYKfnOU6zbR34ic5qMm7VSMB

# ABank
ABANK_CLIENT_ID=team200
ABANK_CLIENT_SECRET=5OAaa4DYzYKfnOU6zbR34ic5qMm7VSMB

# SBank
SBANK_CLIENT_ID=team200
SBANK_CLIENT_SECRET=5OAaa4DYzYKfnOU6zbR34ic5qMm7VSMB

